<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.mbieliau.smsgateway">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".SmsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReadActivity" android:label="Read activity" />
        <activity android:name=".ComposerActivity" android:label="Composer activity" />
        <activity android:name=".SettingsActivity" android:label="Settings activity" />

        <receiver android:name=".receiver.AutoStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AlarmReceiver"/>
        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <service android:name=".service.SmsService">
            <intent-filter>
                <action android:name=".SmsService" />
            </intent-filter>
        </service>
        <service android:name=".service.AlarmService">
            <intent-filter>
                <action android:name=".AlarmService" />
            </intent-filter>
        </service>

    </application>
</manifest>
